@model Bug_tracker.Models.Classes.Tickets

@{
    ViewBag.Title = "Details";
}
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="row mt">
            <div class="col-lg-12">
                <p>
                    <h2>Details</h2>
                    <div>
                        <h4>Tickets</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                Assignee
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Assignee.LastName)
                            </dd>
                            <dt>
                                Creater
                            </dt>
                            <dd>
                                Creater
                            </dd>
                            <dt>
                                Project
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Project.Name)
                            </dd>
                            <dt>
                                TicketPriority
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TicketPriority.Name)
                            </dd>
                            <dt>
                                TicketStatus
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TicketStatus.Name)
                            </dd>
                            <dt>
                                TicketType
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TicketType.Name)
                            </dd>
                            <dt>
                                Name
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt>
                                Description
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>
                            <dt>
                                Created
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Created)
                            </dd>
                            <dt>
                                Updated
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Updated)
                            </dd>
                        </dl>
                    </div>
                    <div>
                        @foreach (var comment in Model.Comments)
                        {
                            <hr />
                            @comment.User.DisplayName
                    <p style="text-align: left; font-size: 20px">
                        @comment.Comment
                        <span style="font-size: 10px; text-align: right">
                            - @comment.Created.ToString("dd/mm/yyyy hh:mm")
                        </span>
                    </p>
                }
                    </div>
                    <div>
                        @foreach (var attachment in Model.Attachments)
                        {
                            <hr />
                            @attachment.User.DisplayName
                            <p style="text-align: left;">
                                <img src="@attachment.FilePath">
                                <span style="font-size: 10px; text-align: right">
                                    - @attachment.Created.ToString("dd/mm/yyyy hh:mm")
                                </span>
                            </p>
                        }
                    </div>
                    <div>
                        @using (Html.BeginForm("CreateComment", "Tickets", new { id = Model.Id }, FormMethod.Post))
                        {
                            <input type="hidden" name="slug" value="@Model.Comments" />
                            <textarea name="Body"></textarea>
                            if (ViewBag.ErrorMessage != null)
                            {
                                <span>@ViewBag.ErrorMessage</span>
                            }
                            <input type="submit" value="submit" />
                        }
                    </div>
                    <div>
                        @using (Html.BeginForm("CreateAttachment", "Tickets", new { ticketId = Model.Id }, FormMethod.Post, new { enctype = "Multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <input name="image" type="file" class="form-control" id="fileUpload" />
                            if (ViewBag.ErrorMessage != null)
                            {
                                <span>@ViewBag.ErrorMessage</span>
                            }
                            <input type="submit" value="submit" />
                        }
                    </div>
                    <table id="wer" class="table">
                        <h2 style="text-align: center">History</h2>
                        <thead>
                            <tr>
                                <th>
                                    Property Changed
                                </th>
                                <th>
                                    Old Value
                                </th>
                                <th>
                                    New Value
                                </th>
                                <th>
                                    Changed
                                </th>
                                <th>
                                    Modifier
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Histories)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Property)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OldValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NewValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Changed)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.DisplayName)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                        </p>
                    </div>
                </div>
            </section>
            <!-- /wrapper -->
        </section>
