@model Bug_tracker.Models.Classes.Tickets

@{
    ViewBag.Title = "Details";
}
<section id="main-content">
    <section class="wrapper site-min-height">
         <div class="row mt">
            <div class="col-lg-12">
                <p>

                    <h2>Details</h2>

                    <div>
                        <h4>Tickets</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                               Assignee
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Assignee.LastName)
                            </dd>

                            <dt>
                                Creater
                            </dt>

                            <dd>
                               Creater
                            </dd>

                            <dt>
                                Project
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Project.Name)
                            </dd>

                            <dt>
                                TicketPriority
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TicketPriority.Name)
                            </dd>

                            <dt>
                                TicketStatus
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TicketStatus.Name)
                            </dd>

                            <dt>
                                TicketType
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TicketType.Name)
                            </dd>

                            <dt>
                                Name
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                                Description
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                            <dt>
                               Created
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Created)
                            </dd>

                            <dt>
                                Updated
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Updated)
                            </dd>

                        </dl>
                    </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
                </p>
            </div>
        </div>
    </section>
    <!-- /wrapper -->
</section>
